body{
    background-image: url("background_Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    /* box-shadow: 0px 0px 43px 17px rgba(153,153,153,1); */
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: black;
    color: #fff;
    opacity: 0.7;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
    /* opacity: 0.7; */
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;}

/* Applying color */
.color-sec1{
    background-color: rgb(78, 73, 73);
    opacity: 0.7;
}

.color-sec2{
    background-color: rgb(173, 163, 163);
    opacity: 0.7;
}

.color-sec3{
    background-color: rgb(255, 136, 0);
    opacity: 0.7;
}